<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanlonggroup.caiplus"
    android:installLocation="auto"
    android:versionCode="100"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.wanlonggroup.caiplus.app.CaiPlusApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="登陆"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="login"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="首页"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="home"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.CxDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="财信详情"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cxdetail"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.QueryCxActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="查找财信"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="querycx"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.CxLeaveMessageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="财信留言"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cxreviewdetail"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.CxCommentListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="财信评论"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cxcommentlist"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.AttachmentListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="财信附件"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cxattachlist"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.CxExecuteInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="执行信息"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cxexecuteinfo"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.CyDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="财友详情"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cydetail"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.CqCompanyDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="公司详情"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cqcompanydetail"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.CqTeamDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="团队详情"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cqteamdetail"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.MyCalenderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="我的日历"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mycalender"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.MyConcernActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="我的关注"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="myconcern"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.MyTeamActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="我的团队"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="myteam"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.ModifyCalenderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="修改日程"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="modifycalender"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.CxListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="财信"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cxlist"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.SkillDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="详情"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="skilldetail"
                    android:scheme="cp" />
                <data
                    android:host="casedetail"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.QueryCyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="财友搜索"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="querycy"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.CyListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="财友列表"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cylist"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.QueryCqActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="公司查找"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="querycq"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.CqCompanyListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="公司列表"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cqcompanylist"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.bz.ChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="聊天"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="chat"
                    android:scheme="cp" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanlonggroup.caiplus.app.DebugActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Debug"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="debug"
                    android:scheme="cp" />
            </intent-filter>
        </activity>

        <receiver android:name="com.wanlonggroup.caiplus.bz.im.ChatMessageReceiver" >
            <intent-filter>
                <!-- 接收网络变化的广播 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        
        <service android:name="com.wanlonggroup.caiplus.bz.im.ChatMessageService" />
    </application>

</manifest>